<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.user.BackUserMapper">
    <select id="getUserByAll" resultType="com.vmall.pojo.VUser">
        SELECT * FROM v_user WHERE v_username like  concat('%',#{vUsername},'%') LIMIT #{currentPage},3
    </select>
    <select id="getUserById" resultType="com.vmall.pojo.VUser">
        select * from v_user where v_userId=#{id}
    </select>
    <select id="getTotalPageCount" resultType="int">
        select count(*) from v_user where v_username like concat('%',#{vUsername},'%')
    </select>
    <select id="getAllUser" resultType="com.vmall.pojo.VUser">
        SELECT * FROM v_user where 1=1
        <if test="vUsername!=null and vUsername!=''">
            and v_username like concat('%',#{vUsername},'%')
        </if>
        LIMIT #{currentPage},#{pageSize}
    </select>
    <insert id="addUser" parameterType="com.vmall.pojo.VUser">
        INSERT INTO v_user(v_username,v_password,v_mail,v_phone,v_headPath,v_isActive,v_type,v_grade,v_sex,v_identity,v_usercode,v_salt)
		        VALUE (#{vUsername},#{vPassword},#{vMail},#{vPhone},#{vHeadPath},1,1,0,#{vSex},#{vIdentity},#{vUsercode},#{vSalt})
    </insert>
    <delete id="delUser">
        delete from v_user where v_userId = #{id}
    </delete>
    <update id="getUpdate" parameterType="com.vmall.pojo.VUser">
        UPDATE v_user
        <set>
            <if test="vUsername!=null">v_username=#{vUsername},</if>
            <if test="vPassword!=null">v_password=#{vPassword},</if>
            <if test="vMail!=null">v_mail=#{vMail},</if>
            <if test="vPhone!=null">v_phone=#{vPhone},</if>
            <if test="vType!=null">v_type=#{vType},</if>
            <if test="vHeadPath!=null">v_headPath=#{vHeadPath},</if>
            <if test="vUsercode!=null">v_usercode=#{vUsercode}</if>
        </set>
        where v_userId=#{vUserId}
    </update>

    <select id="getAllVUser" resultType="com.vmall.pojo.VUser">
        select * from v_user
    </select>

    <select id="loasUserByUsername" resultType="com.vmall.pojo.VUser" parameterType="com.vmall.pojo.VUser">
        select * from v_user where v_usercode=#{vUsername}
    </select>
    <select id="getUserRolesByUid" resultType="com.vmall.pojo.VRole">
        SELECT * FROM v_role r,v_user_role ur WHERE r.v_role_id=ur.v_role_id AND ur.v_user_id=#{id}
    </select>
</mapper>