<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.user.ComMapper">
    <select id="count" resultType="int">
        select count(1) from v_commons c,v_product p where c.v_productId=p.v_productId
        and c.v_userId=#{userId};
    </select>
    <select id="commonsList" resultMap="comList">
        select * from v_commons c,v_product p where c.v_productId=p.v_productId
        and c.v_userId=#{userId} limit #{pageNo},#{pageSize};
    </select>
    <resultMap id="comList" type="com.vmall.pojo.VCommons">
        <id column="v_commonsId" property="v_commonsId"/>
        <result column="v_content" property="v_content"/>
        <result column="v_grade" property="v_grade"/>
        <result column="v_createDate" property="v_createDate"/>
        <result column="v_reply" property="v_reply"/>
        <association property="vProduct" javaType="com.vmall.pojo.VProduct">
        <id property="vProductId" column="v_productId"/>
        <result property="vProductName" column="v_productName"/>
        <result property="cateName1" column="v_categoryName1"/>
        <result property="cateName2" column="v_categoryName2"/>
        <result property="cateName3" column="v_categoryName3"/>
        <result property="vStore" column="v_store"/>
        <result property="vPrice" column="v_price"/>
        <result property="vImgUrl" column="v_imgUrl"/>
        <result property="vGrade" column="v_grade"/>
        <result property="vIsDelete" column="v_isDelete"/>
        <result property="brandName" column="v_brandName"/>
        </association>
    </resultMap>
</mapper>