<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.User.UserMapper">
    <select id="login" resultType="com.vmall.pojo.VUesr">
        select * from v_uesr where v_usercode=#{userCode} and v_password=#{password}
    </select>
    <select id="findEmail" resultType="com.vmall.pojo.VUesr">
        select * from v_uesr where v_mail=#{email};
    </select>
    <update id="findPassword">
        update v_uesr set v_password=#{password} where v_userId=#{id}
    </update>
    <insert id="register">
        insert into v_uesr(v_username,v_password,v_mail,v_phone,v_headPath,v_isActive,v_type,v_sex,v_usercode,v_salt)
        values (#{v_username},#{v_password},#{v_mail},#{v_phone},#{v_headPath},#{v_isActive},1,#{v_sex},#{v_usercode},#{v_salt})
    </insert>
</mapper>