<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>
<body>

<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content"></div>



<div id="addContent">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>商品</th>
            <th>规格</th>
            <th>订单号</th>
            <th>下单时间</th>
            <th>状态</th>
            <th>付款金额</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seckill:${list}">
            <td th:text="${seckill.vSeckillProduct.vSku.VProduct.vProductName}"/>
            <td th:text="${seckill.vSeckillProduct.vSku.VSkuName}"/>
            <td th:text="${seckill.vSeckillSerialNumber}"/>
            <td th:text="${seckill.vSeckillCreateDate}"/>
            <td th:text="${seckill.vOrderStatus.vStatusName}"/>
            <td th:text="${seckill.vSeckillProduct.vSeckillPrice}"/>
        </tr>
        </tbody>
    </table>
</div>






<script type="text/javascript">
    $(function(){
        $(".card-header").html("秒杀订单列表").append("<a class=\"btn btn-primary\" href=\"#\" id=\"toggleNavPosition\" style='float: right'>新增秒杀商品</a>")
        $(".table-responsive").html($("#addContent"));
    })
</script>
</body>
</html>