<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>
<body>

    <nav th:replace="/seckill/commons/nav::nav"></nav>
    <div th:replace="/seckill/commons/content::content">


    </div>


    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>商品</th>
            <th>开始时间</th>
            <th>秒杀价格</th>
            <th>秒杀数量</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>苹果7</td>
            <td>2019-05-06</td>
            <td>2.0</td>
            <td>61</td>
            <td>未开始</td>
            <td></td>
        </tr>

        </tbody>
    </table>


    <script type="text/javascript">
        $(function(){
            $(".card-header").html("秒杀商品管理").append("<a class=\"btn btn-primary\" href=\"#\" id=\"toggleNavPosition\" style='float: right'>新增秒杀商品</a>")
            $(".table-responsive").html($("#dataTable"));
        })
    </script>
</body>
</html>