<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>
<!--添加商品活动-->


<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form action="addAcativity" method="post">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>商品活动名称</td>
                  <td><input type="text"  name="vType"></td>
                </tr>
                <tr>
                  <td>外键，商品分类id</td>
                  <td><input type="text"  name="vCategoryId"></td>
                </tr>
                <tr>
                  <td>
                    <input type="submit" value="新增">
                    <a href="activity">返回</a>
                  </td>
                </tr>
              </table>
            </form>
          </div>

</body>

</html>
