<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>
<!--商品品牌-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form method="post" action="brand">
              <input type="hidden" name="page" th:value="${page}"/>
              <input type="text" name="vBrandName" th:value="${vBrandName}">
              <input type="submit" value="查询">
              <a href="toaddbrand">添加</a>
            </form>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td>品牌标识</td>
                <td>品牌名字</td>
                <td>上架下架（0上架1下架）</td>
                <td>操作</td>
              </tr>
              <tr th:each="brand:${listvbrand}">
                <td th:text="${brand.vBrandId}"></td>
                <td th:text="${brand.vBrandName}"></td>
                <td th:text="${brand.vPutaway}"></td>
                <td>
                  <a th:href="@{tobrandchakan(vBrandId=${brand.vBrandId})}">查看</a>
                  <a th:if="${brand.vPutaway==1}" href="javascript:;"th:value="${brand.vBrandId}" name="brandshang">上架</a>
                  <a th:if="${brand.vPutaway==0}" href="javascript:;"th:value="${brand.vBrandId}" name="brandxia">下架</a>
                  <a th:href="@{tobrandupd(vBrandId=${brand.vBrandId})}">修改</a>
                  <a href="javascript:;"  th:value="${brand.vBrandId}" name="del">删除</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a th:href="@{brand(vBrandName=${vBrandName},pageNo=${1})}">首页</a>
                  <a th:hidden="${page==1}" th:href="@{brand(vBrandName=${vBrandName},pageNo=${page-1})}">上一页</a>
                  <a th:hidden="${page>=totalCount}" th:href="@{brand(vBrandName=${vBrandName},pageNo=${page+1})}">下一页</a>
                  <a th:href="@{brand(vBrandName=${vBrandName},pageNo=${totalCount})}">尾页</a>
                </td>
              </tr>
            </table>

          </div>

        <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
        <script type="text/javascript">
            $(function () {
                $("[name=del]").click(function () {
                    var id=$(this).attr("value");
                    var jie=$(this);
                    $.getJSON("delbrabd","vBrandId="+id,function (data) {

                        if(data=="true"){
                            alert("删除成功!");
                            jie.parents("tr").remove();
                        }else{
                            alert("删除失败!");
                        }
                    })
                })
            })
            $(function () {
                $("[name=brandshang]").click(function () {
                    var id=$(this).attr("value");
                    var jie=$(this);
                    if(confirm("是否上架？")){
                        $.getJSON("putawayupd","vBrandId="+id,function (data) {
                            if (data == "true") {
                                location.reload();
                            }
                        })
                    }

                })
            })
            $(function () {
                $("[name=brandxia]").click(function () {
                    var id=$(this).attr("value");
                    var jie=$(this);
                    if(confirm("是否下架？")){
                        $.getJSON("putawayupdxia",{"vBrandId":id},function (data) {
                            if (data == true) {
                                location.reload();
                            }
                        })
                    }
                })
            })

        </script>
</body>

</html>
