<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>
<!--查看商品-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form action="chakan" method="post">
              <input type="hidden" name="vProductId" th:value="${vproduct.vProductId}">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>商品名称</td>
                  <td><input readonly="readonly" name="vProductName" th:value="${vproduct.vProductName}"></td>
                </tr>
                <tr>
                  <td>一级分类</td>
                  <td><input readonly="readonly" name="v_categoryLevel1"  th:value="${vproduct.cateName1}"></td>
                </tr>
                <tr>
                  <td>二级分类</td>
                  <td><input readonly="readonly" name="v_categoryLevel2"  th:value="${vproduct.cateName2}"></td>
                </tr>
                <tr>
                  <td>三级分类</td>
                  <td><input readonly="readonly" name="v_categoryLevel3"  th:value="${vproduct.cateName3}"></td>
                </tr>
                <tr>
                  <td>库存</td>
                  <td><input readonly="readonly" name="v_store"  th:value="${vproduct.vStore}"></td>
                </tr>
                <tr>
                  <td>商品图片路径</td>
                  <td><input readonly="readonly" name="v_imgUrl"  th:value="${vproduct.vImgUrl}"></td>
                </tr>
                <tr>
                  <td>商品积分</td>
                  <td><input readonly="readonly" name="v_grade"  th:value="${vproduct.vGrade}"></td>
                </tr>
                <tr>
                  <td>商品上下架</td>
                  <td><input readonly="readonly" name="v_isDelete"  th:value="${vproduct.vIsDelete}"></td>
                </tr>
                <tr>
                  <td>商品品牌</td>
                  <td><input readonly="readonly" name="v_brandId"  th:value="${vproduct.brandName}"></td>
                </tr>
                <tr>
                  <td>创建时间</td>
                  <td><input readonly="readonly" name="vCreateDate"  th:value="${vproduct.vCreateDate}"></td>
                </tr>
                <tr>
                  <td>修改时间</td>
                  <td><input readonly="readonly" name="vModifyDate"  th:value="${vproduct.vModifyDate}"></td>
                </tr>
                <tr>
                  <td>交易数量</td>
                  <td><input readonly="readonly" name="vSalesVolume"  th:value="${vproduct.vSalesVolume}"></td>
                </tr>
                <tr>
                  <td>评论数量</td>
                  <td><input readonly="readonly" name="vCommonsCount"  th:value="${vproduct.vCommonsCount}"></td>
                </tr>
                <tr>
                  <td>
                    <a href="getproduct">返回</a>
                  </td>
                </tr>
              </table>
            </form>

          </div>

</body>

</html>
