<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>
<!--查看品牌-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form action="chakanbrand" method="post">
              <input type="hidden" name="vBrandId" th:value="${vBrand.vBrandId}">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>品牌标识</td>
                  <td><input readonly="readonly" name="vBrandId" th:value="${vBrand.vBrandId}"></td>
                </tr>
                <tr>
                  <td>品牌名称</td>
                  <td><input readonly="readonly" name="vBrandName" th:value="${vBrand.vBrandName}"></td>
                </tr>
                <tr>
                  <td>
                    <a href="brand">返回</a>
                  </td>
                </tr>
              </table>
            </form>

          </div>

</body>

</html>
