<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>
<!--预警货品-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form method="post">
              <!--<select name="">
                <option th:selected="" value="100">100</option>
                <option th:selected="" value="1000">1000</option>
                <option th:selected="" value="2000">2000</option>
              </select>-->
              <input type="hidden" name="page" th:value="${page}"/>
              <input type="text" name="vProductName" th:value="${vProductName}">
              <input type="submit" value="查询">
            </form>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <th>商品名称</th>
                <th>一级分类</th>
                <th>二级分类</th>
                <th>三级分类</th>
                <th>库存</th>
                <th>商品图片路径</th>
                <th>商品积分</th>
                <th>商品上下架（0上架，1下架）</th>
                <th>商品品牌</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>交易数量</th>
                <th>评论数量</th>
                <th>操作</th>
              </tr>
              <tr th:each="product:${listproduct}">
                <td th:text="${product.vProductName}"></td>
                <td th:text="${product.cateName1}"></td>
                <td th:text="${product.cateName2}"></td>
                <td th:text="${product.cateName3}"></td>
                <td th:text="${product.vStore}"></td>
                <td th:text="${product.vImgUrl}"></td>
                <td th:text="${product.vGrade}"></td>
                <td th:text="${product.vIsDelete}"></td>
                <td th:text="${product.brandName}"></td>
                <td th:text="${product.vCreateDate}"></td>
                <td th:text="${product.vModifyDate}"></td>
                <td th:text="${product.vSalesVolume}"></td>
                <td th:text="${product.vCommonsCount}"></td>
                <td>
                  <a th:href="@{toearlyupd(vProductId=${product.vProductId})}">修改</a>
                </td>
                </tr>

            </table>
            <a th:href="@{early(vProductName=${vProductName},pageNo=${1})}">首页</a>
            <a th:hidden="${page==1}" th:href="@{early(vProductName=${vProductName},pageNo=${page-1})}">上一页</a>
            <a th:hidden="${page>=totalCount}" th:href="@{early(vProductName=${vProductName},pageNo=${page+1})}">下一页</a>
            <a th:href="@{early(vProductName=${vProductName},pageNo=${totalCount})}">尾页</a>
          </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
        <script type="text/javascript">
            $(function () {
                $("[name=del]").click(function () {
                    var id=$(this).attr("value");
                    var jie=$(this);
                    $.getJSON("delete","vProductId="+id,function (data) {

                        if(data=="true"){
                            alert("删除成功!");
                            jie.parents("tr").remove();
                        }else{
                            alert("删除失败!");
                        }
                    })
                })
            })
        </script>
</body>

</html>
