<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this templates-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Pagezhang level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this templates-->
  <link href="css/sb-admin.css" rel="stylesheet">


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">

            <div style="width: 400px;height: 700px; border: solid gray 2px;float: left">
              <a href="inAddFenleiLevel?vtype=1"><input type="button" value="添加一级分类"/></a>
              <table>
                <th>一级分类</th>
                <tr th:each="level1:${lv1}">
                  <td><a href="javacript:void(0);" name="chu" th:text="${level1.vCategoryName}" th:value="${level1.vCategoryId}"></a></td>
                  <td><a th:href="@{'/delClassification?lvl1='+${level1.vCategoryId}}" name="del"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>
                </tr>
              </table>
            </div>
            <div style="width: 400px;height: 700px; border: solid gray 2px;float: left">
              <a href="inAddFenleiLevel?vtype=2"> <input type="button" value="添加二级分类"/></a>
              <table id="tb2">
                <th>二级分类</th>
                <table id="aaa">
                  <tr th:each="level2:${lv2}" id="tr2">
                  <td><a href="javacript:void(0);" name="chu3" th:text="${level2.vCategoryName}" th:value="${level2.vCategoryId}"></a></td>
                    <td><a th:href="@{'/delClassification?lvl1='+${level2.vCategoryId}}" name="del"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>
                  </tr>
                </table>
              </table>
            </div>
            <div style="width: 400px;height: 700px; border: solid gray 2px;float: left">
              <a href="inAddFenleiLevel?vtype=3"> <input type="button" value="添加三级分类"/></a>
              <table>
                <th>三级分类</th>
                <table id="bbb">
                  <tr th:each="level3:${lv3}" id="tr3">
                    <td><a href="javacript:void(0);" name="chu" th:text="${level3.vCategoryName}" th:value="${level3.vCategoryId}"></a></td>
                    <td><a th:href="@{'/delClassification?lvl1='+${level3.vCategoryId}}" name="del"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>
                  </tr>
                </table>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017 / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>

        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Pagezhang level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>

    <!--<script src="static/js/jquery-1.8.3.min.js"></script>-->
    <script type="text/javascript">
        function chus(node){
            var tr2;
            var l2id=node.attr("name");
            alert(l2id);
            $.get("moClassification","lvl2="+l2id,function (data) {
                alert(data);
                for (var j=0;j<data.level3.length;j++){
                    tr2+="<tr><td>"+data.level3[j].vCategoryName+"</td>" +
                        "<td><a href="+"delClassification?lvl1="+ data.level3[j].vCategoryId +"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>"+
                        "</tr>";
                }
                $("#bbb").html(tr2);
            });
        }

        function dels(){

        }
      $(function () {
          $("[name=chu]").click(function () {
              var lid = $(this).attr("value");
              var tr;
              var tr2;
              alert(lid)
              $.get("moClassification", "lvl1=" + lid, function (data) {
                  // for(var i=0;i<data.key("level2").length;i++){
                  //     alert(data.key("level2").get(i).vCategoryId);
                  // }
                  for (var i = 0; i < data.level2.length; i++) {
                      tr += "<tr><td><a href='javacript:void(0);' onclick='chus($(this))' name=" + data.level2[i].vCategoryId + ">" + data.level2[i].vCategoryName + "</a></td>" +
                          "<td><a href="+"delClassification?lvl1="+ data.level2[i].vCategoryId +"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>"+
                          "</tr>";
                  }

                  if(data.level3.length==0){
                      tr2 += "<tr><td>  </td></tr>"
                  }
                  for (var j = 0; j < data.level3.length; j++) {
                      /*tr2+="<tr><td>"+data.level3[i].vCategoryName+"</td></tr>";*/
                      tr2 += "<tr><td>" + data.level3[j].vCategoryName + "</td>" +
                          "<td><a href="+"delClassification?lvl1="+ data.level3[j].vCategoryId +" name='del'> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;删除</a></td>"+
                          "</tr>";
                  }
                  $("#aaa").html(tr);
                  $("#bbb").html(tr2);
              }, "JSON");

          });
          $("[name=chu3]").click(function () {
              var lid = $(this).attr("value");
              var tr2;
              alert(lid)
              $.get("moClassification", "lvl2=" + lid, function (data) {
                  // for(var i=0;i<data.key("level2").length;i++){
                  //     alert(data.key("level2").get(i).vCategoryId);
                  // }
                  if(data.level3.length==0){
                      tr2 += "<tr><td>  </td></tr>"
                  }
                  for (var j = 0; j < data.level3.length; j++) {
                      /*tr2+="<tr><td>"+data.level3[i].vCategoryName+"</td></tr>";*/
                      tr2 += "<tr><td>" + data.level3[j].vCategoryName + "</td></tr>";
                  }
                  $("#bbb").html(tr2);
              });
          });

          $("[name=del]").click(function () {
              var lid = $(this).attr("value");
              if(confirm("是否删除")){
              }else {
                  return false;
              }
          });
      });
    </script>
    </head>
  </div>
</body>

</html>
