<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">
</div>

<!--修改库存-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <div class="card-body">

            <form action="/inventory" method="post">
              <input type="hidden" name="vProductId" th:value="${vproduct.vProductId}">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>库存</td>
                  <td><input type="text" name="vStore"  th:value="${vproduct.vStore}"></td>
                </tr>
                <tr>
                  <td>
                     <input type="submit" value="修改库存">
                  </td>
                  <td>
                    <a href="getproduct">返回</a>
                  </td>
                </tr>
              </table>
            </form>


</body>

</html>
