<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/seckill/commons/header::header">

</head>


<nav th:replace="/seckill/commons/nav::nav"></nav>
<div th:replace="/seckill/commons/content::content">


</div>
<!--修改商品-->

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <div class="card-body">
            <form action="/upd" method="post" enctype="multipart/form-data">
              <input type="hidden" name="vProductId" th:value="${vproduct.vProductId}">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>商品名称</td>
                  <td><input type="text" name="vProductName" th:value="${vproduct.vProductName}"></td>
                </tr>
                <tr>
                  <td>一级分类</td>
                  <td>
                    <select name="vCategoryLevel1" id="categoryLevel1">
                      <option value="1">请选择</option>
                      <option th:each="vcategoryLevel1:${vclevel}" th:value="${vcategoryLevel1.vCategoryId}" th:text="${vcategoryLevel1.vCategoryName}"th:selected="${vcategoryLevel1.vCategoryId==currentLevel1}"></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>二级分类</td>
                  <td>
                    <select name="vCategoryLevel2" id="categoryLevel2" >
                      <option th:each="vcategoryLevel2:${vcleve2}" th:value="${vcategoryLevel2.vCategoryId}" th:text="${vcategoryLevel2.vCategoryName}"th:selected="${vcategoryLevel2.vCategoryId==currentLevel2}"></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>三级分类</td>
                  <td>
                    <select name="vCategoryLevel3" id="categoryLevel3" >
                      <option th:each="vcategoryLevel3:${vcleve3}" th:value="${vcategoryLevel3.vCategoryId}" th:text="${vcategoryLevel3.vCategoryName}"th:selected="${vcategoryLevel3.vCategoryId==currentLevel3}"></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>库存</td>
                  <td><input type="text" name="vStore"  th:value="${vproduct.vStore}"></td>
                </tr>
                <tr>
                  <td>商品图片路径</td>
                  <td><input type="file"  name="multipartFile" th:value="${vproduct.vImgUrl}"></td>
                </tr>
                <tr>
                  <td>商品积分</td>
                  <td><input type="text"  name="vGrade"  th:value="${vproduct.vGrade}" ></td>
                </tr>
                <tr>
                  <td>商品上下架</td>
                  <td><input type="text" name="vIsDelete"  th:value="${vproduct.vIsDelete}"></td>
                </tr>
                <tr>
                  <td>商品品牌</td>
                  <td>
                     <select name="vBrandId">
                       <option th:each="brand:${early}" th:value="${brand.vBrandId}" th:text="${brand.vBrandName}" th:selected="${brand.vBrandId==vb}"></option>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td>创建时间</td>
                  <td><input type="text"  name="vCreateDate" th:value="${vproduct.vCreateDate}"></td>
                </tr>
                <tr>
                  <td>修改时间</td>
                  <td><input type="text"  name="vModifyDate" th:value="${vproduct.vModifyDate}"></td>
                </tr>
                <tr>
                  <td>交易数量</td>
                  <td><input type="text"  name="vSalesVolume" th:value="${vproduct.vSalesVolume}"></td>
                </tr>
                <tr>
                  <td>评论数量</td>
                  <td><input type="text"  name="vCommonsCount" th:value="${vproduct.vCommonsCount}"></td>
                </tr>
                <tr>
                  <td><input type="submit" value="修改"></td>
                  <td> <a href="getproduct">返回</a></td>
                </tr>
              </table>
            </form>
          </div>
        <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#categoryLevel1").change(function () {
                    var queryCategoryLevel1=$("#categoryLevel1").val();
                    if(queryCategoryLevel1!='' && queryCategoryLevel1!=null){
                        $.ajax({
                            type:"GET",//请求类型
                            url:"categorylevellist?queryCategoryLevel1="+queryCategoryLevel1,//请求的url
                            dataType:"json",//ajax接口（请求url）返回的数据类型
                            success:function (data) {//data：返回数据（json对象）
                                $("#categoryLevel2").html("");
                                var options = "<option value=\"\">--请选择--</option>";
                                for(var i = 0; i < data.length; i++){
                                    options += "<option value=\""+data[i].vCategoryId+"\">"+data[i].vCategoryName+"</option>";
                                }
                                $("#categoryLevel2").html(options);
                            },
                            error:function(data){//当访问时候，404，500 等非200的错误状态码
                                alert("加载二级分类失败！");
                            }
                        });
                    }else{
                        $("#categoryLevel2").html("");
                        var options = "<option value=\"\">--请选择--</option>";
                        $("#categoryLevel2").html(options);
                    }
                    $("#categoryLevel3").html("");
                    var options = "<option value=\"\">--请选择--</option>";
                    $("#categoryLevel3").html(options);
                });
                $("#categoryLevel2").change(function () {
                    var queryCategoryLevel2 = $("#categoryLevel2").val();
                    if(queryCategoryLevel2!='' && queryCategoryLevel2!=null){
                        $.ajax({
                            type:"GET",//请求类型
                            url:"categorylevellist?queryCategoryLevel1="+queryCategoryLevel2,//请求的url
                            dataType:"json",//ajax接口（请求url）返回的数据类型
                            success:function (data) {//data：返回数据（json对象）
                                $("#categoryLevel3").html("");
                                var options = "<option value=\"\">--请选择--</option>";
                                for(var i = 0; i < data.length; i++){
                                    options += "<option value=\""+data[i].vCategoryId+"\">"+data[i].vCategoryName+"</option>";
                                }
                                $("#categoryLevel3").html(options);
                            },
                            error:function(data){//当访问时候，404，500 等非200的错误状态码
                                alert("加载三级分类失败！");
                            }
                        });
                    }else{
                        $("#categoryLevel3").html("");
                        var options = "<option value=\"\">--请选择--</option>";
                        $("#categoryLevel3").html(options);
                    }
                });
            });
        </script>
</body>

</html>
