<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.brandmapper.VBrandMapper">
    <select id="vbrandlist" resultType="com.vmall.pojo.VBrand">
        SELECT * FROM v_brand WHERE 1=1
        <if test="vBrandName!=null and vBrandName!=''">
            and v_brandName like concat('%',#{vBrandName},'%')
        </if>
        LIMIT #{PageNo},#{pageSize}
    </select>
    <select id="count" resultType="int">
        SELECT count(*) FROM v_brand WHERE 1=1
        <if test="vBrandName!=null and vBrandName!=''">
            and v_brandName like concat('%',#{vBrandName},'%')
        </if>
    </select>
    <select id="chakanbrand" resultType="com.vmall.pojo.VBrand">
        SELECT * FROM v_brand WHERE v_brandId=#{id}
    </select>
    <select id="vbrandid" resultType="com.vmall.pojo.VBrand">
        SELECT * FROM v_brand WHERE v_brandId=#{id}
    </select>
    <insert id="vbrandadd">
        INSERT INTO v_brand (v_brandName) VALUES(#{vBrandName})
    </insert>
    <delete id="vbranddel">
        DELETE FROM v_brand WHERE v_brandId =#{id}
    </delete>

    <update id="vbrandupd">
        UPDATE v_brand
        <trim prefix="set" suffixOverrides="," suffix="where v_brandId=#{vBrandId}">
            <if test="vBrandName != null">v_brandName=#{vBrandName},</if>
        </trim>
    </update>
    <select id="chabrand" resultType="com.vmall.pojo.VBrand">
        SELECT * FROM v_brand
    </select>
    <update id="putawayupd">
        UPDATE v_brand
        <trim prefix="set" suffixOverrides="," suffix="where v_brandId=#{vBrandId}">
            <if test="vPutaway!=null">v_putaway=#{vPutaway}</if>
        </trim>
    </update>
</mapper>