<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.propertiesmapper.VPropertiesMapper">
    <select id="findAllVProperties" resultType="com.vmall.pojo.VProperties">
        select * from v_properties where v_properties_id=#{v_properties_id}
    </select>
</mapper>