<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.seckill.SeckillProductMapper">


    <insert id="insertSeckillProduct" parameterType="com.vmall.pojo.VSeckillProduct">
        insert into v_seckill_product
        (
          v_seckill_productId, v_seckill_quantity, v_seckill_price, v_seckill_startDate, v_seckill_endDate
        )
        values (
          #{vSeckillProductId},#{vSeckillQuantity},#{vSeckillPrice},#{vSeckillStartDate},#{vSeckillEndDate}
        )
    </insert>



    <select id="listSeckillProducts" resultType="VSeckillProduct">
      SELECT
          `v_seckill_id`,
          `v_seckill_productId`,
          `v_seckill_quantity`,
          `v_seckill_price`,
          `v_seckill_startDate`,
          `v_seckill_endDate` ,
          v_sku_name
      FROM
        `v-mall`.`v_seckill_product`
      LEFT JOIN v_sku ON v_sku.`v_sku_id`=v_seckill_product.`v_seckill_productId`

    </select>


    <update id="updateSeckillProduct" parameterType="com.vmall.pojo.VSeckillProduct">
        update v_seckill_product set
        v_seckill_quantity=v_seckill_quantity-1
        where `v_seckill_id`=#{vSeckillId} and v_seckill_quantity>0
    </update>

    <select id="getSeckillProductRemain" resultType="int">
        select v_seckill_quantity from v_seckill_product where `v_seckill_id`=#{vSeckillId}
    </select>
</mapper>