<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.orderdetailsmapper.VOrderDetailsMapper">
    <insert id="addVOrderDetails">
        insert into v_order_details(v_productId,v_quantity,v_cost,v_orderId)
           values(#{vProductId},#{vQuantity},#{vCost},#{vOrderId})
    </insert>
</mapper>