<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.skumapper.SkuMapper">
    <select id="findAllSku" resultType="com.vmall.pojo.VSku">
        select * from v_sku
    </select>
    <select id="findskuId" resultType="Integer">
        select v_sku_id from v_sku where v_product_id=#{productId}
    </select>
    <select id="findskuIdBySkuName" resultType="com.vmall.pojo.VSku">
        select * from v_sku where v_sku_name=#{skuName}
    </select>
    <select id="findProductIdBySkuId" resultType="com.vmall.pojo.VSku">
        select * from v_sku where v_sku_id=#{Skuid}
    </select>
</mapper>