<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
        </div>
        <form action="/findPwd" method="post" id="form">
          <div class="form-group">
            <input class="form-control" id="email" type="email" name="email" placeholder="Enter email address">
            <input style="float: right" class="btn btn-primary" id="getCode" type="button" value="获取验证码"/>
            <input class="form-control" type="text" name="code" placeholder="请输入验证码"><br/>
            <input class="form-control" type="password" name="oldpwd" placeholder="请输入新密码"><br/>
            <input class="form-control" type="password" name="newpwd" placeholder="再次输入新密码">
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="确认"/>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="login.html">Login Page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript">
    var time = 60;
    function settime(obj){
      if (time==0) {
        $(obj).attr('disabled', false);
        $(obj).val("点击获取验证码");
        time = 60;
        return;
      } else{
        $(obj).attr('disabled', true);
        $(obj).val(time+"秒后重新发送");
        time--;
      }
      setTimeout(function() {
        settime(obj)
      },1000)
    }
    $(function () {
      $("#getCode").click(function () {
        var email=$("#email").val();
        if(email!=null&&email!=""){
          $.get("/getEmail","email="+email,function (data) {
            if (data=="false"){
              alert("邮箱不存在");
            } else{
              $.get("/getCode","email="+email,function (data) {
              });
              settime($("#getCode"));
            }
          });
        }else {
          alert("请输入邮箱");
        }
      });
      $("#form").submit(function () {
        var pwd1=$("[name='oldpwd']").val();
        var pwd2=$("[name='newpwd']").val();
        if (pwd1!=pwd2){
          alert("两次密码不一致");
          return false;
        }
        return true;
      })
    })
  </script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
