<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/back/commons/header::header">

</head>
<body>

<nav th:replace="/back/commons/nav::nav"></nav>
<div th:replace="/back/commons/content::content">
</div>


<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <td>用户昵称</td>
        <td>用户邮箱</td>
        <td>用户手机号</td>
        <td>用户是否激活</td>
        <td>用户积分</td>
        <td>用户名</td>
        <td>用户身份证号</td>
        <td></td>
    </thead>
    <tbody>
    <tr th:each="a : ${user}">
        <td th:text="${a.vUsername}"></td>
        <td th:text="${a.vMail}"></td>
        <td th:text="${a.vPhone}"></td>
        <td th:if="${a.vType==0}">否</td>
        <td th:if="${a.vType==1}">是</td>
        <td th:text="${a.vGrade}"></td>
        <td th:text="${a.vUsercode}"></td>
        <td th:text="${a.vIdentity}"></td>
        <td><a th:href="@{'/auth/user/{id}?id='+${a.vUserId}}">编辑</a></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(function(){
        $(".card-header").html("用户管理").append("<a class=\"btn btn-primary\" href=\"/auth/hssf\" id=\"toggleNavPosition\" style='float: right'>导出</a>")
        $(".table-responsive").html($("#dataTable"));
    })
</script>
</body>
</html>