<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.orderstatusmapper.VOrderStatusMapper">
    <update id="updateVorderStatus">
        update v_order set v_statusId=2 where v_orderId=#{v_orderId}
    </update>
</mapper>