<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.questionmapper.QuestionMapper">
    <select id="allQuestion" resultType="com.vmall.pojo.VQuestion">
        select * from v_question limit #{pageNo},#{pageSize};
    </select>
    <select id="count" resultType="int">
        select count(1) from v_question;
    </select>
</mapper>