<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmall.mapper.propertymapper.VPropertyMapper">
    <select id="findAllVProperty" resultType="com.vmall.pojo.VProperty">
        select * from v_property where v_parent_id=#{vParentId}
    </select>
</mapper>